RESEND_API_KEY=
RESEND_FROM_EMAIL=
SUPPORT_EMAIL=info@tutorflyt.no
SUPABASE_URL=https://jshciiidthsxjhwlxmbh.supabase.co
VITE_SUPABASE_URL=https://jshciiidthsxjhwlxmbh.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_iaTt8xzIHCGGoy_m2HrV2A_o2rMES6D
SUPABASE_SERVICE_ROLE_KEY=
